<%= flash[:notice] %>
<h2>User info</h2>
<% if user.user_image.attached? %>
  <%= image_tag user.user_image.variant(resize_to_limit:[100,100]).processed %>
<% else %>
  <% file_path = Rails.root.join('app/assets/images/no_image.jpg')%>
  <% user.user_image.attach(io: File.open(file_path), filename: 'default-image.jpg', content_type: 'image/jpeg') %>
  <%= image_tag user.user_image%>
<% end %>
<table class="table mb-2">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
<div class="row">
  <%= link_to edit_user_path(current_user.id),class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>